
.wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1180px;
}

@media(max-width: 1180px) {
  .wrap {
    max-width: 980px;
  }
}

@media(max-width: 980px) {
  .wrap {
    max-width: 768px;
  }
}

@media(max-width: 768px) {
  .wrap {
    max-width: 480px;
  }
}
